.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.blog-heading {
  margin-bottom: 10px !important;
  text-align: center;
}

.blog-loop-img {
  max-height: 200px;
  background-size: cover;
  object-fit: contain !important;
}

.blog-block {
  padding-bottom: 25px!important;
  padding-top: 50px!important;
}

/* [data-bs-theme=dark] .card-link .blog-link {
  --bs-link-color: #ffffff !important;
  --bs-link-color-rgb: 255,255,255 !important;
  --bs-link-hover-color: var(--bs-primary) !important;
  --bs-link-hover-color-rgb: var(--bs-primary-rgb) !important;
  color: #ffffff !important;
}

[data-bs-theme=dark] .card-link .blog-link:hover {
  --bs-link-color: #ffffff !important;
  --bs-link-color-rgb: 255,255,255 !important;
  --bs-link-hover-color: var(--bs-primary) !important;
  --bs-link-hover-color-rgb: var(--bs-primary-rgb) !important;
  color: var(--bs-secondary) !important;
}

[data-bs-theme=light] .card-link .blog-link {
  --bs-link-color: var(--bs-primary) !important;
  --bs-link-color-rgb: var(--bs-primary-rgb) !important;
  --bs-link-hover-color: var(--bs-primary) !important;
  --bs-link-hover-color-rgb: var(--bs-primary-rgb) !important;
  color: var(--bs-link-color);
}

[data-bs-theme=light] .card-link .blog-link:hover {
  --bs-link-color: var(--bs-primary) !important;
  --bs-link-color-rgb: var(--bs-primary-rgb) !important;
  --bs-link-hover-color: var(--bs-primary) !important;
  --bs-link-hover-color-rgb: var(--bs-primary-rgb) !important;
  color: var(--bs-link-hover-color);
} */

[data-bs-theme=light] .footer-logo-colour {
  display: block;
}

[data-bs-theme=dark] .footer-logo-colour {
  display: none;
}

[data-bs-theme=dark] #light-mode {
  display: none!important;
}

[data-bs-theme=auto] #light-mode {
  display: none!important;
}

[data-bs-theme=light] #dark-mode {
  display: none!important;
}

[data-bs-theme=light] #dark-mode {
  display: none!important;
}

[data-bs-theme=light] #auto-mode {
  display: none!important;
}

[data-bs-theme=dark] #auto-mode {
  display: none!important;
}

[data-bs-theme=auto] #light-mode {
  display: none!important;
}

[data-bs-theme=auto] #dark-mode {
  display: none!important;
}

.gradient {
  background: linear-gradient(120deg, rgb(var(--bs-primary-rgb)), rgb(var(--bs-secondary-rgb)))!important;
  color: #fff;
  transition: background 1000ms linear;
}

.gradient .mode-select {
  pointer-events: auto;
}

.gradient:hover {
  animation: reverse-colour-change;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.coloured-underline {
  text-decoration-line: underline;
  text-decoration-thickness: 2.5px;
  text-decoration-color: linear-gradient(var(--bs-secondary-rgb), var(--bs-primary-rgb));
  transition: background-size 2s linear, background-position 2s linear;
  text-decoration: none;
  background-image: linear-gradient(rgb(var(--bs-secondary-rgb)),rgb(var(--bs-primary-rgb)));
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear, background-position 2s linear;
}

.coloured-underline:hover {
  /*text-decoration-thickness: 5px;*/
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

/* [data-bs-theme="light"] .carousel-fade {
  --bs-carousel-indicator-active-bg: #000;
  --bs-carousel-caption-color: #000;
  --bs-carousel-control-icon-filter: invert(1) grayscale(100);
}

[data-bs-theme="dark"] .carousel-fade {
  --bs-carousel-indicator-active-bg: #fff;
  --bs-carousel-caption-color: #fff;
  --bs-carousel-control-icon-filter: invert(0) grayscale(100);
} */

.rainbow-border {
  max-height: 15em;
  object-fit: cover;
}

.slider-image-fit {
  object-fit: contain !important;
}

.center-everything {
  margin-right: auto!important;
  margin-left: auto!important;
}

.portfolio-block.block-intro {
  padding-top: 5em;
  padding-bottom: 2em;
}

.portfolio-block.project {
  padding-top: 0px;
  padding-bottom: 3em;
}

.portfolio-block.project .more-projects {
  margin-top: 2em;
  border-top: 1px solid var(--bs-dark-subtle);
  padding-top: 1em;
}

.portfolio-block.block-intro p {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 30px;
  max-width: 95%;
}

.project-carousel {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.portfolio-block .heading h2, .portfolio-block .heading .h2 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.2;
  color: var(--bs-heading-color);
  font-size: 2.5rem;
}

.swiper-control {
  color: var(--bs-secondary);
}

:root {
  --swiper-theme-color: var(--bs-secondary);
}

.dropdown-menu .dropdown-item:active {
  --bs-dropdown-link-active-bg: var(--bs-secondary)!important;
}

.portfolio-navbar.gradient {
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  margin-right: 0;
  padding: 0;
}

.portfolio-navbar.gradient img {
  width: 100px;
  height: 100px;
}

.heading.blog-heading.acknowledgements {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/blog/dissertation_acknowledgements.webp?h=0a964a8359c7afc7a412d2fa56f81732") center / cover;
  color: white;
}

.footer-copyright {
  margin-left: 2em;
}

.loop-padding {
  padding-top: 25px;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.accreditations-title {
  font-weight: bold;
}

.accreditations-navigation {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.heading.page-heading {
  margin-bottom: 25px;
}

.loop-item {
  padding-bottom: 15px;
}

.card-resize {
  height: 18em;
}

.dates {
  float: right;
}

.tags {
  float: left;
}

.excerpts {
  clear: both;
}

.heading.blog-heading.pbm-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/web_design/peter_bell%20music/peter_bell_music.webp?h=bf4c8cb4c7d1ff76ef9bec3bf29df3ae") center / cover;
  color: white;
}

.heading.blog-heading.keresley-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/web_design/keresley_church/keresleychurch.webp?h=452ec6d8bd02d324537f2dd100764d76") center / cover;
  color: white;
}

.heading.blog-heading.mottashaw-consulting {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/web_design/mottashaw/mottashaw-preview.webp?h=c4ff31817c96c7661dbd3bf735b19fa9") center / cover;
  color: white;
}

.heading.blog-heading.showreel {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/showreel.jpg?h=9be1146cb56a32276b867b17b96c2972") center / cover;
  color: white;
}

.heading.blog-heading.frizzle-tv {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/web_design/frizzle/frizzlepreview.webp?h=fe3aa289bd751d93101e7ac02bbe22a3") center / cover;
  color: white;
}

.heading.blog-heading.bcumha-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/web_design/bcumha/bcumhapreview.webp?h=59e6f298a7cf791663e3280b7638cc14") center / cover;
  color: white;
}

.heading.blog-heading.bcudiscover-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/web_design/bcu_dis.cover/bcudiscoverpreview.webp?h=a9c8f8deb4fac6c2b1e65e11c6dce8c5") center / cover;
  color: white;
}

.heading.blog-heading.bcucu-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/web_design/bcucu/bcucupreview.webp?h=0c3a26febc398753c8c1cea6d046322f") center / cover;
  color: white;
}

.heading.blog-heading.taskmaster-ios {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/for_education/taskmaster_for%20ios/taskmasteriospreview.webp?h=b62eff0bef2a6734f8e4ac9ad05f103c") center / cover;
  color: white;
}

.heading.blog-heading.naturefindings-windows {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/for_education/nature_findings/naturefindingspreview.webp?h=a1d20406f8862370fbf569a75cf95af9") center / cover;
  color: white;
}

.heading.blog-heading.mymind-ios {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/for_education/my_mind/my_mind_logo.webp?h=4e299b8017d1483b6dfb87ea14d502aa") center / cover;
  color: white;
}

.heading.blog-heading.csbox-web {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/for_education/cs_box/csbox_logo.webp?h=487f527cf87df0dba11b6f4d4993a80d") center / cover;
  color: white;
}

.heading.blog-heading.bitbox-various {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/for_education/bit_box/bit_box_logo.webp?h=36b5ef1a4c9f880d65df48518293999f") center / cover;
  color: white;
}

.heading.blog-heading.identity-website {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/extracurricular/the_computers_identity/identitypreview.webp?h=8f3c2d53aaf46cff69c58a66abbe76f5") center / cover;
  color: white;
}

.heading.blog-heading.taskmaster-web {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/extracurricular/task_master/taskmasterpreview.webp?h=bece3f4d6e67029790c7b300d5db3393") center / cover;
  color: white;
}

.heading.blog-heading.sortai-windows {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/extracurricular/sort.ai/sort.ai_logo.webp?h=a198ffe5f200f284ee778dd6f7b1d741") center / cover;
  color: white;
}

.heading.blog-heading.societyplus-web {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/extracurricular/society+/societypluspreview.webp?h=c5bf765f66449f21ca88f0206db68bd5") center / cover;
  color: white;
}

.heading.blog-heading.iamaware-film {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/extracurricular/iamaware.webp?h=a3dcdbacf64839eb9dcfd0f9190b41fb") center / cover;
  color: white;
}

.heading.blog-heading.exambufforbluff-windows {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/extracurricular/exam_buff_or_exam_bluff/exam_buff_or_exam_bluff_app_logo.webp?h=c5996308f0abaf2970a7fd4e8e1cdcbf") center / cover;
  color: white;
}

.heading.blog-heading.citationneeded-web {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/projects/extracurricular/citation_needed/login_screen.webp?h=3626905284037118af731fe2573ac5f4") center / cover;
  color: white;
}

.heading.blog-heading.clutter {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/blog/clearing_the_clutter.webp?h=663b94419c9fd6cac937ef9f663fc013") center / cover;
  color: white;
}

.heading.blog-heading.edtech {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/blog/edtech_strategies.webp?h=b72cdf1e1356beee9d0d49acf961779b") center / cover;
  color: white;
}

.heading.blog-heading.reset {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/blog/its_been_a_while.webp?h=dac60117b0dffab449f882fe85bb3e31") center / cover;
  color: white;
}

.heading.blog-heading.milestone {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/blog/milestone.webp?h=d29dcecaf625be0e0a7477bb376bb154") center / cover;
  color: white;
}

.heading.blog-heading.try-again {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/blog/somethings-not-right.webp?h=0f3a7a00d0464010d2f7d3883466f8fa") center / cover;
  color: white;
}

.heading.blog-heading.tes-launch {
  height: 25em;
  background: linear-gradient(rgba(var(--bs-primary-rgb),0.75), rgba(var(--bs-secondary-rgb),0.75)), url("../../assets/img/blog/what-started-it-all.webp?h=8f52c56d25366380ceae7d60855e2cb6") center / cover;
  color: white;
}

.button {
  margin-bottom: 80px;
}

.hide-quote {
  display: none;
}

.post-images {
  text-align: center;
  margin-bottom: 16px;
}

.blog-image-container {
  width: 250px;
}

.blog-list {
  margin-bottom: 16px;
}

.blog-button {
  margin: 0PX 0PX 80PX;
}

.project-buttons {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.more-projects-heading {
  margin-bottom: 10px!important;
}

.meta.project-details {
  padding-left: 12px!important;
  padding-right: 12px!important;
}

.portfolio-video {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

.intro-margin {
  margin-top: 25px;
}

.about-intro {
  margin-bottom: 15px;
  margin-top: 25px;
}

.headshot {
  max-width: 500px;
}

.text-margin {
  margin-top: 15px;
}

.cv-group {
  max-width: 75%;
}

.portfolio-block.cv.no-padding {
  padding-bottom: 0px;
  padding-top: 0px;
}

.heading-no-gap {
  margin-bottom: 0px!important;
}

.work-experience.group.wex-div {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.footer-margin {
  margin-bottom: 25px;
}

.contact-form {
  max-width: 85%;
}

.portfolio-block.block-intro.auto-margin {
  margin-top: auto;
}

.screen-content.featured-project {
  background-image: url("../../assets/img/projects/for_education/cs_box/csbox_homepage.webp?h=5f6153bff07499f4d1108de6fea419f5");
}

.accreditation {
  height: 150px;
  object-fit: contain;
}

.card-img-size {
  max-height: 10em;
  object-fit: cover;
}

.mobile-padding-left {
  margin-left: 0.5em;
}

